<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
</head>
<body>
<h2>로그인 페이지</h2>
<form th:action="@{/auth/login-process}" method="post">
	ID: <input type="text" name="memberId" required /><br>
	PWD: <input type="password" name="password" required /><br>
	<!-- CSRF 토큰 -->
<!--	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
	<button type="submit">로그인</button>
</form>

<div th:if="${param.error}">
	<span style="color:red;">로그인 정보가 올바르지 않습니다.</span>
</div>
<div th:if="${param.logout}">
	<span style="color:green;">로그아웃 되었습니다.</span>
</div>
</body>
</html>